form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #ff7347;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e05c3f;
}
